

.main {
  margin-bottom: 0;
  
  @media (max-width: $mobile) {
    margin-bottom: 130px;
  }
  @media (max-width: $mobileSmall) {
    margin-bottom: 120px;
  }
  &__baner{
    position: relative;
  }
  &__baner--title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %title;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    span{
      padding: 60px 100px;
      color: #ffffff;
      border-radius: 8px;
      background: rgba(23, 22, 26, 0.80);
      @media (max-width: $mobile) {
        padding: 20px 20px;
      }
      @media (max-width: $mobileSmall) {
        padding: 20px 10px;
      }
    }
/*     &.service{
      @media (max-width: $mobile) {
        font-size: 18px;
        font-weight: 700;
        line-height: 100%;
        width: unset;
        height: unset;
        bottom: 50%;
      }
    } */
   &.service{
    @media (max-width: $mobile) {
      //position: relative;
    }
   }
  }
  &__baner--title-service{
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 2;
    font-weight: 700;
    line-height: 100%;
    font-family: 'Jost';
    padding: 32px 40px;
    background: rgba(23, 22, 26, 0.80);
    transform: translate(0%, -100%);
    @include adaptiveValueREM('font-size', 45, 18,  1920, 768, 1);
    color: #ffffff;
    white-space: nowrap;
    @media (max-width: $mobile) {
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      padding: 24px 40px;
    }
  }
  &__circle {
    position: absolute;
    bottom: 0px;
    transform: translateY(50%);
    right: 80px;
    @include adaptiveValueREM('width', 280, 140, 1920, 360, 1);
    @include adaptiveValueREM('height', 280, 140, 1920, 360, 1);
    background-color: $purple;
    border-radius: 50%;
    color: #ffffff;
    @include adaptiveValueREM('font-size', 24, 14, 1920, 360, 1);
    font-family: Jost;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $mobile) {
      right: 54px;
    }
    &--content{
      position: relative;
      z-index: 3;
      max-width: 155px;
      width: fit-content;
      @media (max-width: $mobile) {
        max-width: 91px;
      }
    }
    &--small{
      position: absolute;
      @include adaptiveValueREM('width', 340, 170, 1920, 360, 1);
      @include adaptiveValueREM('height', 340, 170, 1920, 360, 1);
      border-radius: 50%;
      opacity: 0.2;
      background-color: $purple;
      z-index: 2;
    }
    &--big{
      position: absolute;
      @include adaptiveValueREM('width', 400, 200, 1920, 360, 1);
      @include adaptiveValueREM('height', 400, 200, 1920, 360, 1);
      border-radius: 50%;
      opacity: 0.1;
      background-color: $purple;
      z-index: 1;
    }
  }
}

/*================PORTFOLIO================*/
.portfolio {
  @extend %section;

  &__conent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: calc((100vw - 1240px) / 2);
    margin-right: 20px;
    margin-bottom: 50px;
    @media (max-width: em(1270)) {
      flex-direction: column;
      align-items: stretch;
      margin-left: 15px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 40px;
    }
  }

  &__title {
    @extend %title;
  }

  &__text {
    padding: 40px 80px;
    color: #ffffff;
    background-color: $mainColor;
    border-radius: 16px;
    @media (max-width: $mobile) {
      padding: 24px;
    }
  }

  &__text-title {
    font-size: 24px;
    font-family: Jost;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 16px;
    @media (max-width: $mobile) {
      font-size: 18px;
    }
  }

  &__text-text{
    font-weight: 500;
    line-height: 150%;
    @media (max-width: $mobile) {
      font-size: 14px;
    }
  }
  &__img-body{
    margin-bottom: 25px;
  }
  .product-portfolio__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 4px;
    margin: 0 20px;
    width: unset;
    @media (max-width: em(1269)) {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      transition-property: transform;
      transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
      box-sizing: content-box;
      margin: 0;
      gap: 0;
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(9, auto);
    }
    //wrapper
/*     position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box; */
    //slide
/*     flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block; */
  }

  .gallery-item{
    cursor: zoom-in;
  }

  &__img {
    position: relative;
    
    @media (max-width: em(1270)) {
/*       &:last-child{
        grid-column: span 2;
        max-width: calc((100vw / 2) - 30px);
        justify-self: center;
      } */
    }
    @media (max-width: $mobile) {
      &:last-child{
        grid-column: unset;
        max-width: unset;
        justify-self: unset;
      }
    }
    img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
  }

  &__img-title {
    position: absolute;
/*     bottom: 44px;
    left: 60px; */
    bottom: 11%;
    left: 9.617%;
    max-width: 504px;
    font-family: Jost;
    font-weight: 700;
    line-height: 120%;
    color: #ffffff;
    font-size: 24px;
    @media (max-width: $tablet) {
      bottom: 2%;
      left: 2%;
      font-size: 18px;
    }
  }
  &__show-more{
    text-align: center;
    &-link{
      font-size: 20px;
      color: $purple;
      font-weight: 700;
      font-family: 'Jost';
      span{
        display: inline-block;
        position: relative;
        top: 1.07px;
        font-size: 24px;
      }
    }
  }
}
/*================PORTFOLIO================*/



