.brand-wall {
  @extend %section;

  &__container {
  }

  &__text {
    line-height: 150%;
    margin-bottom: 40px;
    h3{
      font-size: 20px;
      font-weight: 700;
    }
    span{
      font-weight: 700;
    }
  }

  &__img {
    position: relative;
    margin-bottom: 100px;
    img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    }
  }
}
