//====================================================================================================

.header {
  position: relative;
  z-index: 5;

  &__wrapper {
    
    background-color: #ffffff;
    width: 100%;
    height: 100%;
  }

  &__body {
      display: flex;
      padding: 0 20px;
      .lock &{
        padding: 0 calc(20px + var(--scrollbar-width)) 0 20px;
      }
      
  }

  &__top {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;

  }

  &__content {
    display: flex;
    margin-left: 10px;
    align-items: center;
    flex: 1 1 auto;
    margin-right: 24px;
    @media (max-width: $mobile) {
     margin-left: 0;
     margin-right: 0;
    }
    h2{
      max-width: 272px;
      font-family: 'Jost';
      font-weight: 700;
      line-height: 140%;
      font-size: 14px;
      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  &__logo {
    @include adaptiveValueREM('margin-right', 60, 9, 1920, 360, 1);
  }

  &__info {
    display: flex;
    align-items: center;
    margin-right: 10px;
    @media (max-width: $mobile) {
      margin-right: 0;
    }
  }

  &__options {
    @include adaptiveValueREM('margin-right', 110, 20, 1920, 1300, 1);
    @media (max-width: $mobileSmall) {
      margin-right: 10px;
    }
  }

  &__actions {
  }

  &__language {
  }
  &__bottom{
    position: relative;
    margin-top: 80px;
    padding: 18px 0;
    background-color: $mainColor;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 2;
    @media (max-width: $mobile) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
.info-header {

  &__contacts {
    display: flex;
    align-items: center;
    @include adaptiveValueREM('margin-right', 110, 20, 1920, 1300, 1);
  }

  &__contacts-phone {
    @include adaptiveValueREM('margin-right', 80, 20, 1920, 1300, 1);
    font-weight: 700;
    line-height: 140%;
    font-size: 20px;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    @media (pointer: fine) {
      &:hover {
        color: $purple;
      }
    }
    @media (max-width: em(1200)) {
      margin-right: 0;
    }
  }

  &__contacts-text {
    color: $grey3;
    line-height: 140%;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    span{
      color: $mainColor;
      white-space: nowrap;
    }
    @media (max-width: em(1200)) {
      display: none;
    }
  }

  &__icons {
    display: flex;
    @include adaptiveValueREM('margin-right', 110, 20, 1920, 1300, 1);
    @media (max-width: $mobileSmall) {
      display: none;
    } 
  }

  &__icon {
    &:first-child{
      margin-right: 20px;
    }
    svg{
      cursor: pointer;
      path{
        transition: all .3s ease 0s;
      }
      @media (pointer: fine) {
        &:hover {
          path{
            fill: $purple;
          }
        }
      }
    }
  }

  &__lead {
    padding: 16px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: percent(24, 16);
    color: $purple;
    border: 1px solid $purple;
    @include adaptiveValueREM('margin-right', 110, 20, 1920, 1300, 1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    @media (pointer: fine) {
      &:hover {
        background: $purple;
        color: #ffffff;
      }
    }
    @media (max-width: em(1210)) {
      padding: 16px 16px;
    }
    @media (max-width: $mobile) {
      display: none;
    } 
    //animation: pulseAnimation 1s infinite;
  }

  @keyframes pulseAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  &__menu {
    position: relative;
    width: 24px;
    height: 18px;
    cursor: pointer;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 3px;
      background-color: $purple;
      transition: all 0.3s ease 0s;
      pointer-events: none;
    }
    span{
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 3px;
      background-color: $purple;
      transition: all 0.3s ease 0s;
      pointer-events: none;
    }
    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      border-radius: 3px;
      background-color: $purple;
      width: 16px;
      transition: all 0.3s ease 0s;
      pointer-events: none;
    }
    &.active  {
      span {
        width: 0;
      }
      &::before,
      &::after {
        left: 0;
        width: 24px;
        background-color: $mainColor;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
      @media (pointer: fine) {
        &:hover {
          &::before, span, &::after{
            background-color: $purple;
          }
        }
      }
    }
    @media (pointer: fine) {
      &:hover {
        &::before, span, &::after{
          background-color: $mainColor;
        }
      }
    }
  }
}

.header-menu {
  
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list-item {
    position: relative;
    text-align: center;
    &:not(:last-child){
      @include adaptiveValueREM('margin-right', 150, 29, 1920, 360, 1);
    }
    &.active{
      .header-menu__sub-list{
        top: calc(100% + 18px);
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        @media (max-width: $mobileSmall) {
          top: calc(100% + 5px);
        }
      }
      .header-menu__title{
        color: $pink;
      }
      &::before{
        pointer-events: all;
      }
    }
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 210px;
      height: calc(100% + 18px);
      pointer-events: none;
      @media (max-width: $mobileSmall) {
        display: none;
      }
    }
    @media (max-width: $mobileSmall) {
      position: unset;
    }
    &:nth-child(3){
      ul{
        //padding: 10px;
      }
    }
  }

  &__list-link, &__title {
    position: relative;
    font-family: 'Jost';
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    z-index: 3;
    @media (pointer: fine) {
      &:hover {
        color: $pink;
      }
    }
    @media (max-width: $mobileSmall) {
      font-size: 16px;
    }
  }
  &__title{

  }
  &__sub-list{
    position: absolute;
    top: calc(100% + 40px);
    left: 0;
    width: 210px;
    padding: 20px;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Geometria';
    background-color: $mainColor;
    color: #ffffff;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    text-align: left;
    li{
      transition: all 0.3s ease 0s;
      &:not(:last-child){
        margin-bottom: 20px;
      }
      /* @media (pointer: fine) {
        &:hover {
          color: $pink;
        }
      } */
    }
    @media (max-width: $mobileSmall) {
      width: 100vw;
      top: calc(100% + 25px);
    }
  }
  &__sub-list-item{
    &.active{
      color: darken($pink, 20%);
    }
  }
  &__sub-list-link{
    transition: all 0.3s ease 0s;
    @media (pointer: fine) {
      &:hover {
        color: $pink;
      }
    }
  }
}
//====================================================================================================


//Burger ====================================================================================================

.header {

  &__burger {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    transform: translateX(115vw);
    transition: all 0.5s ease 0s;
    padding-top: 80px;
    overflow: auto;
    transition: all 0.5s ease 0s;
    &.active{
      transform: translateX(0vw);
    }
    &.show-services{
      //align-items: flex-start;
    }
    @media (max-width: $mobile) {
      justify-content: center;
    }
    @media (max-width: em(359)) {
      transform: translateX(110vw);
      width: 110vw;
      height: 110vh;
    }
    @media (max-width: em(320)) {
      transform: translateX(150vw);
      width: 150vw;
    }
  }
}
.header-burger {

  &__title {
    font-family: 'Jost';
    font-weight: 700;
    font-size: 300px;
    @include adaptiveValueREM('font-size', 300, 100, 1920, 768, 1);
    line-height: 100%;
    text-transform: uppercase;
    color: $purple;
    opacity: 0.1;
    align-self: center;
    @media (max-width: $mobile) {
      display: none;
    }
  }

  &__menu {
    //align-self: center;
    /* position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease 0s; */
    &.service-active{
      //top: 80px;
      //transform: translateY(0);
       button.header-burger__list-link{
       // margin-bottom: 25px;
       }
    }
    @media (max-width: $tablet) {
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.5s ease 0s;
      &.service-active{
        top: 80px;
        transform: translateY(0);
         button.header-burger__list-link{
          margin-bottom: 25px;
         }
      }
    }
    @media (max-width: $mobile) {
      position: absolute;
      right: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      &.service-active{
        top: 80px;
        transform: translateY(0);
        transform: translateX(-50%);
      }
    }
  }

  &__list {
  }

  &__list-item {
    text-align: right;
    transition: all 0.3s ease 0s;
    @media (pointer: fine) {
      &:hover {
        color: $pink;
      }
    }
    @media (max-width: $mobile) {
      text-align: center;
    }
    &:not(:last-child){
      margin-bottom: 24px;
    }
  }

  &__list-link {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
  }

  &__list-btn{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: $purple;
    text-decoration: underline;
    display: none;
    margin-top: 50px;
    @media (max-width: $mobile) {
      display: flex;
      width: 100%;
      justify-content: center;
      white-space: nowrap;
    }
  }

}

.header-burger {

  &__sub-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: height 0.5s ease 0s;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: left;
    display: flex;
    @media (max-width: em(1199)) {
      left: 1%;
      transform: translate(0%, -50%);
    }
    @media (max-width: $tablet) {
      position: relative;
      display: block;
      transform: translate(0%, 0%);
      left: 0;
    }
    @media (max-width: $mobile) {
      position: relative;
      text-align: center;
    }
    &.active{
      opacity: 1;
      visibility: visible;
    }
  }

  &__sub-list-item {
    color: $mainColor;
    width: 272px;
    @include adaptiveValueREM('width', 272, 230, 1500, 1200, 1);
    &:not(:last-child){
      margin-bottom: 25px;
      @include adaptiveValueREM('margin-right', 50, 20, 1500, 1200, 1);
    }
    @media (max-width: em(1199)) {
      white-space: nowrap;
      width: fit-content;
    }
    @media (max-width: $tablet) {
      margin-right: 0 !important;
      white-space: unset;
      width: unset;
    }
  }

  &__sub-list-item-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;
    //text-align: left;
    &:first-child{
      //margin-top: 15px;
    }
    @media (max-width: $tablet) {
    font-weight: 500;
    margin-bottom: 10px;
    }
  }

  &__sub-sub-list {
  }

  &__sub-sub-list-item {
    //text-align: left;
    padding-left: 15px;
    &:not(:last-child){
      margin-bottom: 10px;
      @media (max-width: $mobile) {
        margin-bottom: 20px;
      }
    }
    transition: all 0.3s ease 0s;
    &.active{
      color: darken($pink, 20%);
      &:hover{
        color: darken($pink, 20%);
      }
    }
   /*  &:hover{
      color: $pink;
    } */
    @media (max-width: $tablet) {
      padding-left: 0;
    }
  }

  &__sub-sub-list-link {
    transition: all 0.3s ease 0s;
    font-weight: 500;
    line-height: 150%;
    @media (pointer: fine) {
      &:hover {
        color: $pink;
      }
    }
    @media (max-width: $tablet) {
      font-weight: 400;
    }
  }
}





//Burger ====================================================================================================


// Выпадающий список языков
//====================================================================================================
.header {

  // Выпадающий список языков
  &__language {
    position: relative;
    z-index: 2;

    a {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    &::before{
      content: '';
      position: absolute;
      top: -20px;
      left: 0;
      width: calc(100% + 55px);
      height: calc(100% + 40px) ;
      pointer-events: none;
      @media (max-width: em(1449)) {
        display: none;
      }
    }
    @media (pointer: fine) {
      &:hover {
        &::before{
          pointer-events: all;
        }
        .language-btn__select:last-child {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
          transform: translate(55px, 0px);
          @media (max-width: em(1449)) {
            transform: translate(0px, 0px);
          }
        }
      }
    }

    &.active {
      .language-btn__select:last-child {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translate(55px, 0px);
        @media (max-width: em(1449)) {
          transform: translate(0px, 0px);
        }
      }
    }
  }
}

.language-btn {
  margin: 15px;
  @media (max-width: $tablet) {
    margin: 0;
  }


  &__text{
    @media (max-width: em(400)) {
      display: none;
    }
  }

  &__icon {
    width: rem(25);
    height: 21px;
    position: relative;
    

    &.ru {
      background-image: url("../../public/img/flags/ru/ru.svg");
      top: -2px;
      @media (max-width: em(1449)) {
        left: -1px;
      }
    }
    &.es {
      background-image: url("../../public/img/flags/es/es.svg");
      //background-size: contain;
      background-size: cover;
      background-repeat: no-repeat;
      //top: 2px;
      @media (max-width: em(1449)) {
        left: -2px;
      }
    }
  }

  &__select {
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }

  &__select:last-child {
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translate(45px, 0px);
    @media (max-width: em(1449)) {
      bottom: -25px;
      transform: translate(0px, 35px);
    }
    padding: 10px 0 0 0;
  }
}
// Выпадающий список языков
//====================================================================================================

.additional-information-label{
  display: block;
  position: relative;
  top: 80px;
  text-align: center;
  padding: 18px;
  font-weight: bold;
  background-color: yellow;
  font-size: 26px;
}