.main {
  position: relative;
  margin-bottom: 100px;
  @media (max-width: $mobile) {
    margin-bottom: 80px;
  }
  &_img-rating {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF;
    width: 240px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $tablet) {
      width: 200px;
      height: 60px;
    }
    @media (max-width: $mobile) {
      bottom: 40px;
    }
    @media (max-width: $mobileSmall) {
      bottom: 0;
    }
  }

  &__content {
    position: absolute;
    top: 35px;
    left: calc((100vw - 1240px) / 2 );
    @media (max-width: em(1280)) {
      left: 20px;
    }
    @media (max-width: em(1660 )) {
      top: 10px;
    }
    @media (max-width: em(1550 )) {
      top: 0;
    }
    @media (max-width: em(1200)) {
      top: 50%;
      transform: translateY(-50%);
    }
    @media (max-width: $mobile) {
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @media (max-width: $mobileSmall) {
      top: 142px;
      transform: translateX(-53%);
    }
  }

  &__baner{
    position: relative;
    top: 0;
    left: 20px;
    width: calc(100% - 40px) ;
    padding-bottom: 33.8545%;
    min-height: 465px;
    min-height: 510px;
    @media (max-width: $mobile) {
      min-height: unset;
      padding-bottom: 0;
      width: 100%;
      min-height: unset;
      left: 0;
    }
    img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    @media (max-width: em(1200)) {
      object-fit: cover;
    }
    @media (max-width: $mobile) {
      position: relative;
      object-fit: cover;
      max-height: 680px;
      /* object-position: 0px 40px;
      top: -40px; */
    }
    @media (max-width: $mobileSmall) {
      object-position: 0 0;
      top: 0;
    }
    }
  }

  &__body {
    position: relative;
    top: 0;
    left: 0;
    padding: 40px;
    background-color: rgba(137, 54, 142, 0.8);
    width: fit-content;
    @media (max-width: em(1790)) {
      //padding: 10px;
      padding: 40px 40px 10px 40px;
    }
    @media (max-width: $mobile) {
      padding: 34px 24px 24px 40px;
    }

  }

  &__title {
    font-family: 'Jost';
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
    @include adaptiveValueREM('font-size', 60,36, 1920, 360, 1);
    line-height: 100%;
    max-width: 420px;
    min-width: 285px;
    span{
      display: block;
      @include adaptiveValueREM('font-size', 40, 20, 1920, 360, 1);
      line-height: 100%;
      @include adaptiveValueREM('margin-top', 24, 16, 1920, 360, 1);
    }
    @include adaptiveValueREM('margin-bottom', 24, 16, 1920, 360, 1);
    
  }

  &__list {
    @include adaptiveValueREM('margin-bottom', 40, 16, 1920, 360, 1);
  }

  &__list-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    white-space: nowrap;
    
    @media (max-width: $mobileSmall) {
      white-space: unset;
      max-width: 250px;
    }
  }

  &__btn {
    display: inline-block;
    position: relative;
    padding: 24px 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
    background-color: $mainColor;
    white-space: nowrap;
    overflow: hidden;
    @media (pointer: fine) {
      @media (pointer: fine) {
        &:hover {
          background-color: #ffffff;
          color: $mainColor;
        }
      }
    }
    @media (max-width: $mobile) {
      padding: 16px 32px;
      font-size: 16px;
    }
  }

  &__border {
    position: absolute;
    border: 8px solid #FFFFFF;
    border-radius: 8px;
    top: 21px;
    left: 20px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    @media (max-width: em(1790)) {
      /* top: 5px;
      left: 3px;
      border: 4px solid #FFFFFF;
      width: calc(100% + 20px);
      height: calc(100% + 10px); */
      top: 20px;
      left: 20px;
    }
    @media (max-width: em(1550)) {
      top: 15px
    }
    @media (max-width: $mobile) {
      top: 10px;
      left: 16px;
      border: 4px solid #FFFFFF;
      width: 100%;
      height: 100%;
    }
  }
}
/*============MAIN============*/


/*============QUIZ============*/
.quiz {

  &__container {
    &.pad0{
     padding: 0 rem( calc(math.div($containerPadding, 2) - 1 ) )
    }
  }

  &__title {
    font-family: 'Jost';
    @include adaptiveValueREM('font-size', 50, 30, 1920, 360, 1);
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    max-width: 1237px;
    margin-bottom: 24px;
    span{
      color: $purple;
    }
  }

  &__sub-title {
    font-weight: 700;
    @include adaptiveValueREM('font-size', 24, 16, 1920, 360, 1);
    line-height: 150%;
    color: $grey2;
    margin-bottom: 40px;
    max-width: 620px;
    span{
      color: $purple;
    }
  }

  &__body {
    padding: 40px 0;
    position: relative;
  }
  
}
.quiz-body {

  &__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    &.active{
      pointer-events: all;
    }
  }

  &__progres {
    max-width: 1040px;
    margin: 0 auto 40px auto;
    @media (max-width: em(1088)) {
      margin: 0 24px 40px 24px;
    }
  }

  &__progres-line {
    height: 4px;
    background-color: #F2F2F2;
    position: relative;
    margin-bottom: 8px;
    span{
      position: absolute;
      height: 4px;
      transition: all 0.5s ease 0s;
      //width: calc(100% / 5);
      width: 0%;
      background-color: $mainColor;
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        transform: translate(100%, -50%);
        right: 0;
        width: 24px;
        height: 24px;
        border: 1px solid rgba(23, 22, 26, 0.1);
        border-radius: 50%;
      }
      &::after{
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(calc(100% + 4px), -50%);
        width: 16px;
        height: 16px;
        background-color: $purple;
        border-radius: 50%;
      }
    }
  }

  &__progres-count {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  &__title {
    font-family: 'Jost';
    font-weight: 700;
    @include adaptiveValueREM('font-size', 24, 18, 1920, 360, 1);
    line-height: 120%;
    text-align: center;
    margin-bottom: 24px;
    transition: all 0.3s ease 0s;
  }

  &__slider {
    min-height: 344.38px;
    @media (max-width: $mobileSmall) {
      min-height: 259.38px;
    }
    .swiper-slide{
      cursor: pointer;
      @media (pointer: fine) {
        &:hover {
          .item-quiz__img::before{
            opacity: 1;
          }
          .item-quiz__title{
            color: $purple;
          }
        }
      }
    }
  }
  &__back-btn{
    max-width: 1040px;
    margin: 0 auto;
    &.disabled{
      .arrow, .text{
        color: $grey3;
      }
      @media (pointer: fine) {
        &:hover {
          .arrow, .text{
            color: $grey3;
          }
        }
      }
    }
    @media (pointer: fine) {
      &:hover {
        .arrow, .text{
          color: $mainColor;
        }
      }
    }
    .arrow{
      position: relative;
      display: inline-block;
      margin-right: 10px;
      color: purple;
      font-size: 20px;
      top: 2px;
      pointer-events: none;
      transition: all 0.3s ease 0s;
    }
    .text{
      display: inline-block;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: $purple;
      pointer-events: none;
      transition: all 0.3s ease 0s;
    }
  }
  .swiper {
    margin-bottom: 40px;
  }
  .swiper-wrapper {
      display: flex;
      justify-content: center;
      align-items: center; 
      @media (max-width: $mobile) {
        justify-content: flex-start;
      }
    }
  .swiper-slide{
    width: fit-content;
    position: relative;
    transition: all 0.5s ease 0s;
    &.in{
      opacity: 0;
      transform: scale(0.5);
    }
    &:not(:last-child){
      margin-right: 20px;
      @media (max-width: $tablet) {
        margin-right: 10px;
      }
      @media (max-width: $mobile) {
        margin-right: 0;
      }
    }
    img{
      transition: all 0.5s ease 0s;
      pointer-events: none;
      @media (max-width: $mobileSmall) {
        width: 122px;
        height: 195px;
      }
    }
    &.animate-first-slide{
      opacity: 0;
      position: relative;
      left: 650px;
      transition: all 1s ease 0s;
    }
    &.remove{
      opacity: 0 !important;
    }
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 0;
    }
  }
  .item-quiz {
  
    &__img {
      position: relative;
      width: 175px;
      margin-bottom: 16px;
      pointer-events: none;
      transition: all 0.3s ease 0s;
      margin-top: 10px;
      img{
        height: 280px;
        border-radius: 8px;
        //width: 175px;
        //object-fit: cover;
        @media (max-width: $mobileSmall) {
          height: 195px;
        }
      }
      &::before{
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        border: 1px solid $purple;
        border-radius: 8px;
        z-index: 5;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease 0s;
      }
      @media (max-width: $mobileSmall) {
        width: fit-content;
      }
    }
  
    &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
      text-align: center;
      max-width: 195px;
    }
  }
  &__slider-btns{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    .swiper-button-prev{
      position: relative;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $purple;
      border-radius: 8px;
      color: #ffffff;
      margin-right: 24px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &::after{
        display: none;
      }
      @media (pointer: fine) {
        &:hover {
          background-color: $mainColor;
        }
      }
      &.swiper-button-disabled{
        opacity: 0;
      }
    }
    .swiper-button-next{
      position: relative;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $purple;
      border-radius: 8px;
      color: #ffffff;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      @media (pointer: fine) {
        &:hover {
          background-color: $mainColor;
        }
      }
      &::after{
        display: none;
      }
  /*     &::after{
        content: '→';
        color: #FFFFFF;
        font-size: 14px;
      } */
      &.swiper-button-disabled{
        opacity: 0;
      }
    }
  }
  
  .swiper-button{
    transition: all 0.5s ease 0s;
    &.hide{
      transform: scale(0.5);
      opacity: 0;
    }
  }
  .swiper-button-prev, .swiper-button-next{
    display: none;
    @media (max-width: $mobile) {
      display: flex;
    }
  }
}

/*============QUIZ============*/

/*============SOLUTION============*/
.solution {
  @extend %section;
  background-image: url("../../public/img/home/es/solution/background.webp");
  background-repeat: no-repeat;
  background-size: 100% 86.164%;
  margin-bottom: 100px;
  @media (max-width: $mobile) {
    background-image: url("../../public/img/home/es/solution/background_mobile.webp");
    background-position: 0;
    //background-size: 100% 86.164%;
    background-size: cover;
  }

  &__title {
    padding: 40px;
    @media (max-width: $mobile) {
    //padding: 16px 40px;
    max-width: 330px;
    }
    @media (max-width: $mobileSmall) {
     // max-width: 264px;
    }
    @extend %title;
    background-color: #FFFFFF;
    width: fit-content;
    margin-bottom: 40px;
  }

  &__container {
  }

  &__body {
  }

  &__cards {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: auto auto;
    gap: 40px 20px;
    margin-bottom: 60px;
    @media (max-width: em(1280)) {
      grid-template-columns: 400px 400px;
      grid-template-rows: auto auto auto;
      justify-content: center;
    }
    @media (max-width: $tablet) {
      grid-template-columns: 312px 312px;
    }
    @media (max-width: $mobile) {
      grid-template-columns: 312px;
      grid-template-rows: repeat(6, auto);
      gap: 16px;
      margin-bottom: 40px;
    }
  }

  &__card {
    background-color: #FFFFFF;
    display: flex;
    padding: 40px 40px;
    border-radius: 16px;
    border-bottom: 4px solid $purple;
    @media (max-width: $tablet) {
      padding: 40px 24px;
    }
  }

  &__card-img {
    margin-right: 16px;
  }

  &__card-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }

  &__free {
    position: relative;
    border-radius: 16px;
    background-color: $purple;
    overflow: hidden;
    padding: 60px 0 60px 60px;
    @media (max-width: $mobile) {
      padding: 40px 0 40px 24px;
    }
  }

  &__free-content {
  }

  &__free-text {
    font-family: 'Jost';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    max-width: 600px;
    margin-bottom: 40px;
    @media (max-width: $tablet) {
      max-width: 300px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 24px;
      max-width: 194px;
      font-size: 18px;
    }
    @media (max-width: $mobileSmall) {
      
    }
  }

  &__free-btn {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 24px 80px;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    display: block;
    width: fit-content;
    transition: all 0.3s ease 0s;
    @media (max-width: $mobile) {
      padding: 24px 60px;
    }
    @media (pointer: fine) {
      &:hover {
        background-color: $mainColor;
        color: #ffffff;
      }
    }
  }

  &__free-img {
    position: absolute;
    top: -45px;
    right: -20px;
    @media (max-width: $mobile) {
      top: unset;
      bottom: 0;
      img{
        width: 120px;
        height: 180px;
      }
    }
  }
}
/*============SOLUTION============*/

/*============PORTFOLIO============*/
.portfolio {
  @extend %section;
  position: relative;

  &__conent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: calc((100vw - 1240px) / 2);
    margin-right: 20px;
    margin-bottom: 50px;
    @media (max-width: em(1270)) {
      flex-direction: column;
      align-items: stretch;
      margin-left: 15px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 40px;
    }
  }

  &__title {
    @extend %title;
  }

  &__text {
    padding: 40px 80px;
    color: #ffffff;
    background-color: $mainColor;
    border-radius: 16px;
    @media (max-width: $mobile) {
      padding: 24px;
    }
  }

  &__text-title {
    font-size: 24px;
    font-family: Jost;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 16px;
    @media (max-width: $mobile) {
      font-size: 18px;
    }
  }

  &__text-text{
    font-weight: 500;
    line-height: 150%;
    @media (max-width: $mobile) {
      font-size: 14px;
    }
  }

  &__description {
    position: absolute;
    right: 0;
    top: 0;
    @include adaptiveValueREM('padding-left', 80, 24, 1920, 992, 1);
    @include adaptiveValueREM('padding-right', 80, 24, 1920, 992, 1);
    @include adaptiveValueREM('padding-top', 40, 24, 1920, 360, 1);
    @include adaptiveValueREM('padding-bottom', 40, 24, 1920, 360, 1);
    @include adaptiveValueREM('max-width', 932, 500, 1200, 992, 1);
    background-color: $mainColor;
    border-radius: 16px;
    @media (max-width: $mobile) {
      position: relative;
      max-width: unset;
      margin-bottom: 40px;
    }
  }

  &__sub-title {
    color: #ffffff;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 16px;
    @media (max-width: $mobile) {
      font-size: 18px;
    }
  }

  &__sub-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    //@include adaptiveValueREM('max-width', 772, 650, 1200, 992, 1);
    @media (max-width: $mobile) {
      font-size: 14px;
    }
  }

  &__slider {
    position: relative;
    margin-bottom: 50px;
  }
}
.slider-portfolio {

  &__wrapper {
    margin-bottom: 24px;
  }

  &__slide {

  }

  &__btns{
    position: absolute;
    display: flex;
    bottom: 85px;
    right: 0;
    z-index: 2;
    @media (max-width: $tablet) {
    position: relative;
    bottom: unset;
    right: unset;
    }
  }

  &__btn-prev {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $purple;
    border-radius: 8px;
    color: #ffffff;
    margin-right: 24px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    @media (pointer: fine) {
      &:hover {
        background-color: $mainColor;
      }
    }
  }

  &__btn-next {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $purple;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    @media (pointer: fine) {
      &:hover {
        background-color: $mainColor;
      }
    }
  }
}
.portfolio-slide {

  &__body {
  }

  &__img {
    position: relative;
    margin-bottom: 40px;
    img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    }
  }

  &__content {
    display: flex;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__text {
    max-width: 610px;
    @include adaptiveValueREM('margin-right', 168, 30, 1920, 668, 1);
    @media (max-width: $tablet) {
      margin-bottom: 24px;
    }
  }

  &__title {
    font-family: 'Jost';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 24px;
    @media (max-width: $mobile) {
      font-size: 18px;
      margin-bottom: 16px;
    }
  }

  &__description {
    line-height: 150%;
  }

  &__terms {
  }

  &__terms-title {
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 8px;
    white-space: nowrap;
  }

  &__term {
    line-height: 150%;
  }
}

/*============PORTFOLIO============*/

/*============GIFT============*/
.gift {
  @extend %section;
  &__container {
  }

  &__body {
    display: flex;
    padding-top: 60px;
    padding-bottom: 80px;
    background-color: $mainColor;
    align-items: center;
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    @include adaptiveValueREM('margin-left', 80, 24, 1240, 992, 1);
    @include adaptiveValueREM('margin-right', 120, 24, 1240, 992, 1);
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__img {
    @include adaptiveValueREM('margin-right', 40, 24, 1240, 992, 1);
    @media (max-width: $mobile) {
      order: 2;
    }
  }

  &__text {
    max-width: 610px;
    @media (max-width: $mobile) {
      order: 1;
      margin-bottom: 24px;
      text-align: center;
    }
  }

  &__title {
    font-family: 'Jost';
    font-weight: 700;
    @include adaptiveValueREM('font-size', 50, 22, 1920, 360, 1);
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 24px;
    @media (max-width: $mobile) {
      margin-bottom: 16px;
    }
  }

  &__sub-title {
    color: #FFFFFF;
    font-weight: 500;
    line-height: 150%;
    max-width: 570px;
  }

  &__btn {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 24px 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: $purple;
    height: min-content;
    transition: all 0.3s ease 0s;
    border: 1px solid $mainColor;
    margin-right: 24px;
    white-space: nowrap;
    @media (pointer: fine) {
      &:hover {
        background-color: #ffffff;
        color: $purple;
        border-color: $purple;
      }
    }
    @media (max-width: $mobile) {
      display: block;
      margin: 0 auto;
    }
  }
}

/*============GIFT============*/

/*============VIDEO============*/
.video {
 @extend %section;
  &__container {
  }

  &__body {
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__content {
    @include adaptiveValueREM('margin-right', 80, 20, 1920, 992, 1);
    max-width: 540px;
    @media (max-width: $tablet) {
      margin: 0 auto 40px auto;
    }
  }

  &__title {
    @extend %title;
    @include adaptiveValueREM('font-size', 50, 24, 1920, 360, 1);
    line-height: 120%;
    margin-bottom: 40px;
  }

  &__list {
    margin-left: 50px;
  }

  &__list-item {
    position: relative;
    max-width: 352px;
    font-weight: 500;
    line-height: 150%;
    &:not(:last-child){
      margin-bottom: 24px;
    }
    &::before{
      content: url("../../public/img/icons/check.svg");
      position: absolute;
      top: 8px;
      left:-43px;
      width: 19px;
      height: 18px;
    }
  }

  &__video {
    position: relative;
    flex: 1 1 auto;
    img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    }
  }

  &__action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  &__btn {
    position: relative;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: $mainColor;
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.15);
    &::before{
      content: "";
      position: absolute;
      top: 50%;
      left: 56.5%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-left: 21px solid #ffffff ;
      border-bottom: 12px solid transparent;
      
    }
  }
}
/*============VIDEO============*/


/*============RESULT============*/
.result {
  @extend %section;
  background-image: url("../../public/img/home/es/solution/background.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 3%;
  @media (max-width: em(1300)) {
    background-size: cover;
    background-position: -1000px;
    padding-bottom: 0%;
  }
  @media (max-width: $mobile) {
    background-image: url("../../public/img/home/es/solution/background_mobile.webp");
    background-position: 0;
    //background-size: 100% 86.164%;
  }

  &__container {
  }

  &__title {
    @extend %title;
    text-align: center;
    color: #ffffff;
    padding-top: 90px;
    margin-bottom: 50px;
    @media (max-width: $mobile) {
      margin-bottom: 40px;
    }
  }

  &__body {
    padding-bottom: 100px;
  }

  &__slider {
    pointer-events: none;
    @media (max-width: $mobile) {
      pointer-events: all;
      overflow: visible;
    }
  }
}
.slider-result {

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 232px);
    grid-template-rows: auto auto;
    gap: 24px 20px;
    @media (max-width: em(1300)) {
      grid-template-columns: repeat(3, 232px);
      grid-template-rows: auto auto auto;
      justify-content: center;
    }
    @media (max-width: $mobile) {
      display: flex;
      grid-template-columns: unset;
      grid-template-rows: unset;
      justify-content: flex-start;
      gap: unset;
    }
  }

  &__slide {
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.result-slide {

  &__card {
    padding: 20px 24px;
    background-color: #ffffff;
    min-height: 220px;
    border-radius: 16px;
    border-bottom: 4px solid #89368E;
  }

  &__icon {
    margin-bottom: 24px;
  }

  &__text {
    font-weight: 500;
    line-height: 150%;
  }
}
.swiper-scrollbar.swiper-scrollbar-horizontal{
  bottom: -24px;
  background-color: #D9D9D9;
  z-index: 500;
  .swiper-scrollbar-drag{
    background-color: #ffffff;
  }
}

/*============RESULT============*/

/*============REVIEW============*/
.review {
  @extend %section;
  position: relative;
  #review-ancor{
    position: absolute;
    top: -80px;
    left: 0;
  }
  &__container {
  }

  &__title {
    @extend %title;
    @include adaptiveValueREM('font-size', 50, 24, 1920, 360, 1);
    margin-bottom: 40px;
    text-align: center;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    @include adaptiveValueREM('margin-left', 70, 0, 1920, 1240, 1);
    @include adaptiveValueREM('margin-right', 70, 20, 1920, 1240, 1);
    @media (max-width: $tablet) {
      margin-bottom: 40px;
    }
    @media (max-width: $mobileSmall) {
      position: relative;
      img {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: fill;
      } 
    }
  }

  &__content {
    position: relative;
    max-width: 600px;
    @media (max-width: em(1140)) {
      max-width: 450px;
    }
    @media (max-width: $tablet) {
      max-width: 100%;
    }
  }

  &__slider {
    @media (max-width: $tablet) {
      margin-bottom: 40px;
    }
  }

  &__content-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 24px;
  }

  &__content-text {
    line-height: 180%;
  }
}
.slider-review {

  &__wrapper {
  }

  &__slide {
  }

  &__btns {
   position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    @media (max-width: $tablet) {
      position: relative;
    }
  }

  &__btn-prev {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $purple;
    border-radius: 8px;
    color: #ffffff;
    margin-right: 24px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    @media (pointer: fine) {
      &:hover {
        background-color: $mainColor;
      }
    }
  }

  &__btn-next {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $purple;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    @media (pointer: fine) {
      &:hover {
        background-color: $mainColor;
      }
    }
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.review-slide {
  &__body{
    &:not(:last-child){
      margin-bottom: 50px;
    }
  }
}
/*============REVIEW============*/