.main {
  position: relative;
  margin-bottom: 100px;
  @media (max-width: $mobile) {
    margin-bottom: 80px;
  }
  &_img-rating {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF;
    width: 240px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $tablet) {
      width: 200px;
      height: 60px;
    }
    @media (max-width: $mobile) {
      bottom: 40px;
    }
    @media (max-width: $mobileSmall) {
      bottom: 0;
    }
  }

  &__content {
    position: absolute;
    top: 35px;
    left: calc((100vw - 1240px) / 2 );
    @media (max-width: em(1280)) {
      left: 20px;
    }
    @media (max-width: em(1520 )) {
      top: 0;
    }
    @media (max-width: em(1200)) {
      top: 50%;
      transform: translateY(-50%);
    }
    @media (max-width: $mobile) {
      left: 50%;
      transform: translate(-50%, -40%);
    }
    @media (max-width: $mobileSmall) {
      top: 172px;
      transform: translateX(-50%);
    }
  }

  &__baner{
    position: relative;
    top: 0;
    left: 20px;
    width: calc(100% - 40px) ;
    padding-bottom: 33.8545%;
    min-height: 465px;
    @media (max-width: $mobile) {
      min-height: unset;
      padding-bottom: 0;
      width: 100%;
      min-height: unset;
      left: 0;
    }
    img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    @media (max-width: em(1200)) {
      object-fit: cover;
    }
    @media (max-width: $mobile) {
      position: relative;
      object-fit: cover;
      max-height: 680px;
      object-position: 0px 40px;
      top: -40px;
    }
    @media (max-width: $mobileSmall) {
      object-position: 0 0;
      top: 0;
    }
    }
  }

  &__body {
    position: relative;
    top: 0;
    left: 0;
    padding: 40px;
    background-color: rgba(137, 54, 142, 0.8);
    width: fit-content;
    @media (max-width: em(1790)) {
      padding: 10px;
    }
    @media (max-width: $mobile) {
      padding: 34px 24px 24px 40px;
    }

  }

  &__title {
    font-family: 'Jost';
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
    @include adaptiveValueREM('font-size', 60,36, 1920, 360, 1);
    line-height: 100%;
    max-width: 420px;
    min-width: 265px;
    span{
      display: block;
      @include adaptiveValueREM('font-size', 40, 20, 1920, 360, 1);
      line-height: 100%;
      @include adaptiveValueREM('margin-top', 24, 16, 1920, 360, 1);
    }
    @include adaptiveValueREM('margin-bottom', 24, 16, 1920, 360, 1);
    
  }

  &__list {
    @include adaptiveValueREM('margin-bottom', 40, 16, 1920, 360, 1);
  }

  &__list-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    white-space: nowrap;
  }

  &__btn {
    padding: 24px 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
    background-color: $mainColor;
    white-space: nowrap;
    @media (pointer: fine) {
      &:hover {
        background-color: $pink;
      }
    }
    @media (max-width: $mobile) {
      padding: 16px 32px;
      font-size: 16px;
    }
  }

  &__border {
    position: absolute;
    border: 8px solid #FFFFFF;
    border-radius: 8px;
    top: 21px;
    left: 20px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    @media (max-width: em(1790)) {
      top: 5px;
      left: 3px;
      border: 4px solid #FFFFFF;
      width: calc(100% + 20px);
      height: calc(100% + 10px);
    }
    @media (max-width: $mobile) {
      top: 10px;
      left: 16px;
      border: 4px solid #FFFFFF;
      width: 100%;
      height: 100%;
    }
  }
}

.quiz {

  &__container {
    &.pad0{
      padding: 0 rem( calc(math.div($containerPadding, 2) - 1 ) )
    }
  }

  &__title {
    font-family: 'Jost';
    @include adaptiveValueREM('font-size', 50, 24, 1920, 360, 1);
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    max-width: 1237px;
    margin-bottom: 24px;
    span{
      color: $purple;
    }
  }

  &__sub-title {
    font-weight: 700;
    @include adaptiveValueREM('font-size', 24, 16, 1920, 360, 1);
    line-height: 150%;
    color: $grey2;
    margin-bottom: 40px;
    max-width: 620px;
    span{
      color: $purple;
    }
  }

  &__body {
    padding: 40px 0;
    position: relative;
  }
  
}
.quiz-body {

  &__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    &.active{
      pointer-events: all;
    }
  }

  &__progres {
    max-width: 1040px;
    margin: 0 auto 40px auto;
    @media (max-width: em(1088)) {
      margin: 0 24px 40px 24px;
    }
  }

  &__progres-line {
    height: 4px;
    background-color: #F2F2F2;
    position: relative;
    margin-bottom: 8px;
    span{
      position: absolute;
      height: 4px;
      width: calc(100% / 5);
      background-color: $mainColor;
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        transform: translate(100%, -50%);
        right: 0;
        width: 24px;
        height: 24px;
        border: 1px solid rgba(23, 22, 26, 0.1);
        border-radius: 50%;
      }
      &::after{
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(calc(100% + 4px), -50%);
        width: 16px;
        height: 16px;
        background-color: $purple;
        border-radius: 50%;
      }
    }
  }

  &__progres-count {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  &__title {
    font-family: 'Jost';
    font-weight: 700;
    @include adaptiveValueREM('font-size', 24, 18, 1920, 360, 1);
    line-height: 120%;
    text-align: center;
    margin-bottom: 24px;
  }

  &__slider {
    min-height: 315.19px;
    @media (max-width: $mobileSmall) {
      min-height: 230px;
    }
  }
  &__back-btn{
    max-width: 1040px;
    margin: 0 auto;
    &.disabled{
      .arrow, .text{
        color: $grey3;
      }
    }
    .arrow{
      position: relative;
      display: inline-block;
      margin-right: 10px;
      color: purple;
      font-size: 20px;
      top: 2px;
      pointer-events: none;
    }
    .text{
      display: inline-block;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: $purple;
      pointer-events: none;
    }
  }
}
.swiper {
  margin-bottom: 40px;
}
.swiper-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    @media (max-width: $mobile) {
      justify-content: flex-start;
    }
  }
.swiper-slide{
  width: fit-content;
  position: relative;
  transition: all 0.5s ease 0s;
  &.in{
    opacity: 0;
    transform: scale(0.5);
  }
  &:not(:last-child){
    margin-right: 20px;
    @media (max-width: $tablet) {
      margin-right: 10px;
    }
    @media (max-width: $mobile) {
      margin-right: 0;
    }
  }
  img{
    transition: all 0.5s ease 0s;
    pointer-events: none;
    @media (max-width: $mobileSmall) {
      width: 122px;
      height: 195px;
    }
  }
  &.animate-first-slide{
    opacity: 0;
    position: relative;
    left: 650px;
    transition: all 1s ease 0s;
  }
  &.remove{
    opacity: 0 !important;
  }
  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
}
.signboards {
}
.item-quiz {

  &__img {
    width: 175px;
    margin-bottom: 16px;
    pointer-events: none;
    @media (max-width: $mobileSmall) {
      width: fit-content;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
  }
}
.swiper-button-prev{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $purple;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after{
    content: '←';
    color: #FFFFFF;
    font-size: 14px;
  }
  &.swiper-button-disabled{
    opacity: 0;
  }
}
.swiper-button-next{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $purple;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after{
    content: '→';
    color: #FFFFFF;
    font-size: 14px;
  }
  &.swiper-button-disabled{
    opacity: 0;
  }
}
.swiper-button{
  transition: all 0.5s ease 0s;
  &.hide{
    transform: scale(0.5);
    opacity: 0;
  }
}


/* @keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.swiper-slide {
  animation: slideInFromLeft 0.5s ease-in-out forwards;
} */

/*.swiper-slide.remove{
  opacity: 0 !important;
}

.item-quiz__img {
  //perspective: 1700px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  position: relative;
  width: fit-content;
  pointer-events: none;
  img{
    pointer-events: none;
    min-height: 280px;
  }
}

.item-quiz__img.swipe {
    transform: rotateY(180deg) ;
}

.item-quiz__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../public/img/home/quiz/es/1.jpg');
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
} */
