/*================MATERIAL================*/
.letters-material {
  @extend %section;

  &__container {
  }

  &__body {
  }

  &__title {
    @extend %title50;
  }

  &__text {
    display: inline-block;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 40px;
  }

  &__slider-body {
  }

  &__slider {
    position: relative;
  }
}
.slider-letters-material {

  &__wrapper {
  }

  &__slide {
    display: flex;
    justify-content: center;
  }

  &__btns {
  }

  &__btn-prev {
  }

  &__btn-next {
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.letters-material-slide {

  &__body {
  }

  &__img {
    margin-bottom: 16px;
  }

  &__img-title {
    font-weight: 700;
    line-height: 120%;
    text-align: center;
  }
}
.btns-slider {
}
.slider-btn-prev {
}
.slider-btn-next {
}
/*================MATERIAL================*/

/*================THICKNESS================*/
.letters-thickness {
  @extend %section;

  &__container {
  }

  &__title {
    @extend %title50;
  }

  &__text {
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 40px;
  }

  &__text {
  }

  &__slider-body {
  }

  &__slider {
  }
}
.slider-letters-thickness {

  &__wrapper {
  }

  &__slide {
  }

  &__btns {
  }

  &__btn-prev {
    
  }

  &__btn-next {
  }
  .btns-slider {
    .whith-light &{
      display: none;
      @media (max-width: em(499.98)) {
        display: block;
      }
    }
    .slider-btn-prev {
      background-color: $purple;
      &.swiper-button-disabled{
        background-color: $grey3;
      }
    }
    .slider-btn-next {
      background-color: $purple;
      &.swiper-button-disabled{
        background-color: $grey3;
      }
    }
  }
}
.swiper {
}
.swiper-wrapper {
  .whith-light &{
    justify-content: center;
    @media (max-width: $mobile) {
      justify-content: unset;
      }
  }
}
.swiper-slide {
  
}
.letters-thickness-slide {

  &__body {
  }

  &__img {
    position: relative;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid $grey3;
      pointer-events: none;
    }
  }

  &__img-title {
    font-weight: 700;
    line-height: 120%;
    text-align: center
  }
}
/*================THICKNESS================*/