%title{
  font-family: 'Jost';
  font-weight: 700;
  @include adaptiveValueREM('font-size', 60, 36, 1920, 360, 1);
  span{
    color: $purple;
  }
}

%title50{
  font-family: 'Jost';
  font-weight: 700;
  @include adaptiveValueREM('font-size', 50, 24, 1920, 360, 1);
  margin-bottom: 24px;
  span{
    color: $purple;
  }
}

%section{
  margin-bottom: 100px;
  @media (max-width: $mobile) {
    margin-bottom: 80px;
  }
}

.flare {
  position: absolute;
  top: 0;
  left: -0%;
  width: 45px;
  height: 100%;
  transform: skewX(45deg);
  background: linear-gradient(90deg, rgba(137, 54, 142, 0.1), rgba(137, 54, 142, 0.4));
  animation: flareAnimation 4s infinite linear;
  pointer-events: none;
  &.white{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  }
}

@keyframes flareAnimation {
  0% {
    left: -50%;
    opacity: 1;
  }
  50% {
    left: 120%;
    opacity: 1;
  }
  51%, 100%{
    opacity: 0;
  }
}

.flare-header {
  position: absolute;
  top: 0;
  left: -50%;
  width: 45px;
  height: 100%;
  transform: skewX(45deg);
  background: linear-gradient(90deg, rgba(137, 54, 142, 0.1), rgba(137, 54, 142, 0.4));
  animation: flareHeaderAnimation 8s infinite linear;
  pointer-events: none;
}

@keyframes flareHeaderAnimation {
  0% {
    left: -100%;
    opacity: 1;
  }
  83% {
    left: -40%;
    opacity: 1;
  }
  100%{
    left: 120%;
  }
}


.btns-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
  @media (max-width: em(1239.98)) {
    display: block;
    pointer-events: none;
  }
  .slider-btn-prev {
    width: 24px;
    height: 24px;
    background-color: $purple;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 35px);
    transform: translateY(50%);
    left: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    pointer-events: all;
    span{
      position: relative;
      top: -1px;
      pointer-events: none;
    }
    &.swiper-button-disabled{
      background-color: $grey2;
    }
  }
  
  .slider-btn-next {
    width: 24px;
    height: 24px;
    background-color: $purple;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 35px);
    transform: translateY(50%);
    right: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    span{
      position: relative;
      top: -1px;
      pointer-events: none;
    }
    &.swiper-button-disabled{
      background-color: $grey2;
    }
  }
}


.not-bold{
  font-weight: 400;
}


.show-more-btn{
  background-color: transparent;
  color: #ffffff;
  padding: 16px 0;
  margin: 0 auto;
  display: none;
  margin-bottom: 40px;
  width: 274px;
  font-size: 20px;
  @media (max-width: $mobile) {
    &.active {
      display: block;
    }
  }
}

.privacy{
  @extend %section;
}