.five-image {
  @extend %section;

  &__container {
  }

  &__title {
    text-align: center;
    font-family: Jost;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  &__text {
    color: #4F4F4F;
    text-align: center;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 40px;
  }

  &__img-row {
    display: grid;
    grid-template-columns: repeat(5, minmax(148px, 233px));
    grid-template-rows: auto;
    gap: 20px;
    @media (max-width: em(992)) {
      grid-template-columns: repeat(2, minmax(148px, 233px));
      grid-template-rows: auto auto auto;
      justify-content: center;
    }
  }

  &__img-body {
  }

  &__img-item {
    margin-bottom: 24px;
    position: relative;
    img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    }
  }

  &__img-title {
    text-align: center;
    font-weight: 700;
    line-height: 120%;
  }
}
