/*================MAIN-TEXT================*/
.main-text {
  @extend %section;
    &__container {
    }
  
    &__body {
      margin: 0 auto;
      max-width: 900px;
      line-height: 180%;
    }
  }
  /*================MAIN-TEXT================*/