/*================PORTFOLIO================*/
.portfolio-product {
  @extend %section;

  &__conent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: calc((100vw - 1240px) / 2);
    margin-right: 20px;
    margin-bottom: 50px;
    @media (max-width: em(1270)) {
      flex-direction: column;
      align-items: stretch;
      margin-left: 15px;
    }
    @media (max-width: $mobile) {
      margin-bottom: 40px;
    }
  }

  &__title {
    @extend %title;
    @media (max-width: $mobile) {
      order: 2;
    }
  }

  &__text {
    padding: 40px 80px;
    color: #ffffff;
    background-color: $mainColor;
    border-radius: 16px;
    @media (max-width: $mobile) {
      padding: 24px;
      order: 1;
      margin-bottom: 40px;
    }
  }

  &__text-title {
    font-size: 24px;
    font-family: Jost;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 16px;
    @media (max-width: $mobile) {
      font-size: 18px;
    }
  }

  &__text-text{
    font-weight: 500;
    line-height: 150%;
    @media (max-width: $mobile) {
      font-size: 14px;
    }
  }
  &__img-body{
    margin-bottom: 55px;
  }

  .gallery-item{
    cursor: zoom-in;
  }

  &__show-more{
    text-align: center;
    &-link{
      font-size: 20px;
      color: $purple;
      font-weight: 700;
      font-family: 'Jost';
      span{
        display: inline-block;
        position: relative;
        top: 1.07px;
        font-size: 24px;
      }
    }
  }
}

.product-portfolio{
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 4px;
    margin: 0 20px;
    width: unset;
    @media (max-width: em(1269)) {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: flex;
      transition-property: transform;
      transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
      box-sizing: content-box;
      margin: 0;
      gap: 0;
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(9, auto);
    }
    //wrapper
/*     position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box; */
    //slide
/*     flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block; */
  }
  &__img {
    position: relative;
    
    @media (max-width: em(1270)) {
/*       &:last-child{
        grid-column: span 2;
        max-width: calc((100vw / 2) - 30px);
        justify-self: center;
      } */
    }
    @media (max-width: $mobile) {
      &:last-child{
        grid-column: unset;
        max-width: unset;
        justify-self: unset;
      }
    }
    img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
  }

  &__img-title {
    position: absolute;
/*     bottom: 44px;
    left: 60px; */
    bottom: 11%;
    left: 9.617%;
    max-width: 504px;
    font-family: Jost;
    font-weight: 700;
    line-height: 120%;
    color: #ffffff;
    font-size: 24px;
    @media (max-width: $tablet) {
      bottom: 2%;
      left: 2%;
      font-size: 18px;
    }
  }
  .slider-portfolio__btns{
    position: relative;
    bottom: unset;
    right: unset;
    margin-top: 20px;
    justify-content: center;
    display: none;
    @media (max-width: em(1269)) {
      display: flex;
    }
  }
}
/*================PORTFOLIO================*/