/*================2-IMG-SECTION================*/
.letters-2-images {
  @extend %section;
  &__container {
  }

  &__body {
  }

  &__title {
    @extend %title50;
  }

  &__text {
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 40px;
  }

  &__img-body {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    position: relative;
    
    &:not(:last-child){
      margin-right: 20px;
    }
    @media (max-width: $mobile) {
      &:not(:last-child){
        margin-right: 0;
        margin-bottom: 40px;
      }
    }
    img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin-bottom: 24px;
    border-radius: 16px;
    }
  }

  &__img-title {
    font-weight: 700;
    line-height: 120%;
    text-align: center
  }
}
/*================2-IMG-SECTION================*/